name: Build Package
on: 
  push: 
    branches: 
      - main
    # paths:
    #   - package.json

jobs:
  build:
    # runs-on: ubuntu-latest
    runs-on: self-hosted
    permissions: 
      contents: read
    steps: 
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: 'https://npm.web-fuse.nl'
          scope: '@web-fuse'
          cache: 'npm'

      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.WF_NPM_TOKEN }}
